.logo {
  display: flex;
  position: absolute;
  top: 40px;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  flex-direction: column;
}
.logo img {
  width: fit-content;
  height: 44px;
}
.logo p {
  font-size: 14px;
  left: 1px;
  top: 7px;
}

.container {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.container .wheel .jobName span {
  font-size: 0.7em;
  font-weight: 600;
}
.container .spinBtn {
  width: 30px;
  height: 30px;
}

.container .spinBtn::before {
  top: -18px;
  width: 12px;
  height: 19px;
}

.container .spinBtn img {
  height: 20px;
}

.container .wheel .num4 {
  word-spacing: -2.4px;
}

.container .wheel .jobName img {
  width: 32px;
}

.container .wheel .num1 + img {
  top: 26px;
  left: 54px;
  rotate: 47deg;
}
.container .wheel .num2 + img {
  top: 22px;
  left: 54px;
  rotate: 47deg;
}
.container .wheel .num3 + img {
  top: 25px;
  left: 49px;
}
.container .wheel .num4 + img {
  top: 22px;
  left: 49px;
}
.container .wheel .num5 + img {
  top: 21px;
  left: 49px;
  rotate: 56deg;
}
.container .wheel .num6 + img {
  top: 54px;
  left: 21px;
  rotate: 26deg;
}
.container .wheel .num7 + img {
  top: 53px;
  left: 23px;
  rotate: 50deg;
}
.container .wheel .num8 + img {
  top: 21px;
  left: 50px;
  rotate: 46deg;
}
.container .wheel .num5{
  top: 10%;
  left: 11%;
}
.container .wheel .num6{
  top: 5%;
  left: 5%;
}


.fullWindow {
  display: none;
}

.popup {
  width: 85%;
}

.popup .icon {
  width: 48px;
  height: 48px;
}

.popup .title {
  font-size: 16px;
}

.qrcode img {
  height: 82px;
}

.qrcode{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}

.qrcode p{
  font-size: 1.2rem;
}