.logo {
  display: flex;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo img {
  width: fit-content;
  height: 55px;
}
.logo p{
  left: 0px;
  font-size: 18px;
}


.container {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}


.ground img {
  width: 410%;
}

.stand img {
  top: 619px;
  left: 47%;
  height: 65%;
}

.upper_stand img {
  top: 157px;
}

.upper_stand {
  width: 388px;
}

.upper_stand h1 {
  font-size: 1.7em;
  top: 64%;
}

.down_stand {
  position: absolute;
  width: 513px;
  height: 650px;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.down_stand img {
  top: 50%;
  left: 60%;
}
.container .wheel .jobName span {
  font-size: 1.2em;
  font-weight: 600;
}

.back_wheel .bulb{
  width: 8px;
  height: 8px;
}

.back_wheel .bulbs_1 {
  top: calc(50% - 151px);
  left: calc(50% - 66px);
}
.back_wheel .bulbs_2 {
  top: calc(50% - 163px);
  left: calc(50% - 3px);
}
.back_wheel .bulbs_3 {
  top: calc(50% - 152px);
  left: calc(50% - -58px);
}
.back_wheel .bulbs_4 {
  top: calc(50% - 116px);
  left: calc(50% - -109px);
}
.back_wheel .bulbs_5 {
  top: calc(50% - 65px);
  left: calc(50% - -143px);
}
.back_wheel .bulbs_6 {
  top: calc(50% - 2px);
  left: calc(50% - -155px);
}
.back_wheel .bulbs_7 {
  top: calc(50% - -56px);
  left: calc(50% - -143px);
}
.back_wheel .bulbs_8 {
  top: calc(50% - -110px);
  left: calc(50% - -107px);
}
.back_wheel .bulbs_9 {
  top: calc(50% - -143px);
  left: calc(50% - -56px);
}
.back_wheel .bulbs_10 {
  top: calc(50% - -155px);
  left: calc(50% - 7px);
}
.back_wheel .bulbs_11 {
  top: calc(50% - -142px);
  left: calc(50% - 67px);
}
.back_wheel .bulbs_12 {
  top: calc(50% - -109px);
  left: calc(50% - 116px);
}
.back_wheel .bulbs_13 {
  top: calc(50% - -57px);
  left: calc(50% - 151px);
}
.back_wheel .bulbs_14 {
  left: calc(50% - 164px);
  top: calc(50% - 6px);
}
.back_wheel .bulbs_15 {
  top: calc(50% - 66px);
  left: calc(50% - 151px);
}
.back_wheel .bulbs_16 {
  top: calc(50% - 117px);
  left: calc(50% - 117px);
}

@media screen and (max-width: 694px){
.qrcode{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}
.qrcode p{
  font-size: 1.3rem;
}
}
@media screen and (min-width: 593px){
  .container{
    width:550px;
    height:550px;
  }
}
@media screen and (min-width: 460px) and (max-width: 569px){
  .container{
    width:400px;
    height:400px;
    top: 44%;
  }
  .ground img {
    width: 325%;
}

.stand img {
  top: 561px;
  left: 47%;
  height: 80%;
}
  .container .wheel .jobName span {
    font-size: 1.4em;
    font-weight: 600;
  }

  .upper_stand {
    width: 439px;
}

.down_stand {
  width:602px;
}

  .upper_stand img {
    position: absolute;
    top: 122px;
}
  
.upper_stand h1 {
  font-size: 2em;
  top: 57%;
  left: 35%;
}

.down_stand img {
  top: 57%;
  left: 60%;
}

  .back_wheel .bulb{
    width: 12px;
    height: 12px;
  }

  .back_wheel .bulbs_1 {
    top: calc(50% - 185px);
    left: calc(50% - 79px);
  }
  .back_wheel .bulbs_2 {
    top: calc(50% - 199px);
    left: calc(50% - 5px);
  }
  .back_wheel .bulbs_3 {
    top: calc(50% - 185px);
    left: calc(50% - -67px);
  }
  .back_wheel .bulbs_4 {
    top: calc(50% - 138px);
    left: calc(50% - -134px);
  }
  .back_wheel .bulbs_5 {
    top: calc(50% - 80px);
    left: calc(50% - -172px);
  }
  .back_wheel .bulbs_6 {
    top: calc(50% - -2px);
    left: calc(50% - -187px);
  }
  .back_wheel .bulbs_7 {
    top: calc(50% - -68px);
    left: calc(50% - -172px);
  }
  .back_wheel .bulbs_8 {
    top: calc(50% - -130px);
    left: calc(50% - -129px);
  }
  .back_wheel .bulbs_9 {
    top: calc(50% - -172px);
    left: calc(50% - -68px);
  }
  .back_wheel .bulbs_10 {
    top: calc(50% - -187px);
    left: calc(50% - 7px);
  }
  .back_wheel .bulbs_11 {
    top: calc(50% - -173px);
    left: calc(50% - 79px);
  }
  .back_wheel .bulbs_12 {
    top: calc(50% - -130px);
    left: calc(50% - 142px);
  }
  .back_wheel .bulbs_13 {
    top: calc(50% - -71px);
    left: calc(50% - 183px);
  }
  .back_wheel .bulbs_14 {
    left: calc(50% - 199px);
    top: calc(50% - 6px);
  }
  .back_wheel .bulbs_15 {
    top: calc(50% - 80px);
    left: calc(50% - 185px);
  }
  .back_wheel .bulbs_16 {
    top: calc(50% - 142px);
    left: calc(50% - 143px);
  }
}

@media screen and (min-width: 570px) {
  .container{
    width:450px;
    height:450px;
    top: 54%;
  }
  

  .ground img {
    width: 270%;
}

.stand img {
  top: 606px;
  left: 48%;
  height: 71%;
}

  .upper_stand img {
    top: 91px;
}

.upper_stand h1 {
  top: 53%;
}

.down_stand img {
  top: 63%;
  left: 60%;
}

  .back_wheel .bulb{
    width: 12px;
    height: 12px;
    box-shadow:
    inset 0 0 4px #fff,      /* Inner white highlight */
    inset 4px 0 16px #ff8c00, /* Dark Orange inset */
    inset -4px 0 16px #ffd700, /* Gold/Yellow inset */
    inset 4px 0 60px #ff8c00,  /* Wider Dark Orange inset */
    inset -4px 0 60px #ffd700, /* Wider Gold/Yellow inset */
    0 0 8px #fff,       /* Outer white glow */
    -2px 0 16px #ff8c00, /* Outer Dark Orange glow */
    2px 0 16px #ffd700;
  }

  .back_wheel .bulbs_1 {
    top: calc(50% - 206px);
    left: calc(50% - 91px);
  }
  .back_wheel .bulbs_2 {
    top: calc(50% - 223px);
    left: calc(50% - 3px);
  }
  .back_wheel .bulbs_3 {
    top: calc(50% - 207px);
    left: calc(50% - -76px);
  }
  .back_wheel .bulbs_4 {
    top: calc(50% - 158px);
    left: calc(50% - -148px);
  }
  .back_wheel .bulbs_5 {
    top: calc(50% - 89px);
    left: calc(50% - -194px);
  }
  .back_wheel .bulbs_6 {
    top: calc(50% - 5px);
    left: calc(50% - -210px);
  }
  .back_wheel .bulbs_7 {
    top: calc(50% - -76px);
    left: calc(50% - -194px);
  }
  .back_wheel .bulbs_8 {
    top: calc(50% - -148px);
    left: calc(50% - -146px);
  }
  .back_wheel .bulbs_9 {
    top: calc(50% - -193px);
    left: calc(50% - -78px);
  }
  .back_wheel .bulbs_10 {
    top: calc(50% - -210px);
    left: calc(50% - 7px);
  }
  .back_wheel .bulbs_11 {
    top: calc(50% - -194px);
    left: calc(50% - 89px);
  }
  .back_wheel .bulbs_12 {
    top: calc(50% - -145px);
    left: calc(50% - 161px);
  }
  .back_wheel .bulbs_13 {
    top: calc(50% - -77px);
    left: calc(50% - 207px);
  }
  .back_wheel .bulbs_14 {
    left: calc(50% - 223px);
    top: calc(50% - 6px);
  }
  .back_wheel .bulbs_15 {
    top: calc(50% - 89px);
    left: calc(50% - 207px);
  }
  .back_wheel .bulbs_16 {
    top: calc(50% - 157px);
    left: calc(50% - 162px);
  }
}


.container .spinBtn {
  width: 40px;
  height: 40px;
}

.container .spinBtn::before {
  top: -18px;
  width: 12px;
  height: 19px;
}

.container .spinBtn img {
  height: 20px;
}

.container .wheel .num4 {
  word-spacing: -2.4px;
}

.container .wheel .jobName img {
  width: 48px;
}


.container .wheel .num1 + img {
  top: 101px;
  left: 49px;
  rotate: 23deg;
}
.container .wheel .num2 + img {
  top: 103px;
  left: 53px;
  rotate: 26deg;
}
.container .wheel .num3 + img {
  top: 95px;
  rotate: 26deg;
  left: 39px;
}
.container .wheel .num4 + img {
  top: 92px;
  left: 41px;
}
.container .wheel .num5 + img {
  top: 99px;
  left: 47px;
}
.container .wheel .num6 + img {
  top: 103px;
  left: 50px;
  rotate: 28deg;
}
.container .wheel .num7 + img {
  top: 98px;
  left: 48px;
  rotate: 52deg;
}
.container .wheel .num8 + img {
  top: 93px;
  left: 44px;
  rotate: 33deg;
}
.container .wheel .num6 {
  top: 5%;
  left: 5%;
}

@media screen and (max-width: 459px){
  .logo p{
    font-size: 17px;
  }

  .container .wheel .num1 + img {
    top: 68px;
    left: 28px;
    rotate: 25deg;
  }
  .container .wheel .num2 + img {
    top: 62px;
    left: 31px;
    rotate: 36deg;
  }
  .container .wheel .num3 + img {
    top: 63px;
    rotate: 38deg;
    left: 30px;
  }
  .container .wheel .num4 + img {
    top: 61px;
    left: 26px;
  }
  .container .wheel .num5 + img {
    top: 72px;
    left: 31px;
  }
  .container .wheel .num6 + img {
    top: 66px;
    left: 24px;
    rotate: 28deg;
  }
  .container .wheel .num7 + img {
    top: 72px;
    left: 36px;
    rotate: 54deg;
  }
  .container .wheel .num8 + img {
    top: 68px;
    left: 25px;
    rotate: 28deg;
  }
  .container .wheel .jobName img {
    width: 38px;
  }
}

@media screen and (min-width: 460px) and (max-width: 569px){
  .logo p {
    font-size: 17px;
  }
  .container .wheel .num1 + img {
    top: 84px;
    left: 40px;
    rotate: 22deg;
  }
  .container .wheel .num2 + img {
    top: 77px;
    left: 42px;
    rotate: 31deg;
  }
  .container .wheel .num3 + img {
    top: 72px;
    left: 38px;
    rotate: 40deg;
  }
  .container .wheel .num4 + img {
    top: 72px;
    left: 33px;
    rotate: 44deg;
  }
  .container .wheel .num5 + img {
    top: 85px;
    left: 34px;
  }
  .container .wheel .num6 + img {
    top: 79px;
    left: 28px;
    rotate: 24deg;
  }
  .container .wheel .num7 + img {
    top: 87px;
    left: 44px;
  }

  .container .wheel .num8 + img {
    top: 82px;
    left: 31px;
    rotate: 27deg;
  }
  .container .wheel .num5  {
    top: 12%;
    left: 12%;
  }
}

.fullWindow {
  display: none;
}

.popup {
  width: 85%;
}

.popup .icon {
  width: 48px;
  height: 48px;
}

.popup .title {
  font-size: 16px;
}

@media (min-width: 695px){
  .upper_stand img{
    top: 68px;
  }

  .upper_stand h1{
    top: 47%;
  }

  .down_stand img{
    top: 69%;
  }
  .container{
    width: 550px;
    height: 550px;
    top: 54%;
  }


  .stand img {
    top: 608px;
    left: 48%;
    height: 71%;
}
.ground img {
  width: 225%;
  height: 100%;
}
  .container .wheel .jobName span {
    font-size: 1.8em;
    font-weight: 600;
  }
}

@media (min-width: 695px) {
  .container .spinBtn {
    width: 50px;
    height: 50px;
  }
  .container .wheel .jobName img {
    width: 55px;
  }
  .container .wheel .num3 {
    word-spacing: -5px;
  }
  .qrcode img {
    height: 84px;
  }

  .container .wheel .num6{
    top: 5%;
    left: 5%;
  }

  .container .wheel .jobName img{
    width: 75px;
  }
  .container .wheel .num1 + img {
    top: 102px;
    left: 37px;
    rotate: 23deg;
  }
  .container .wheel .num2 + img {
    top: 97px;
    left: 48px;
    rotate: 30deg;
  }
  .container .wheel .num3 + img {
    top: 96px;
    left: 48px;
    rotate: 29deg;
  }
  .container .wheel .num4 + img {
    top: 95px;
    left: 39px;
  }
  .container .wheel .num5 + img {
    top: 110px;
    left: 43px;
    rotate: 40deg;
  }
  .container .wheel .num6 + img {
    top: 109px;
    left: 40px;
    rotate: 23deg;
    width: 70px;
  }
  .container .wheel .num7 + img {
    top: 116px;
    left: 56px;
    rotate: -316deg;
  }
  .container .wheel .num8 + img {
    top: 106px;
    left: 40px;
    rotate: -335deg;
  }

  .back_wheel .bulb{
    width: 15px;
    height: 15px;
  }

  .back_wheel .bulbs_1 {
    top: calc(50% - 253px);
    left: calc(50% - 109px);
  }
  .back_wheel .bulbs_2 {
    top: calc(50% - 273px);
    left: calc(50% - 5px);
  }
  .back_wheel .bulbs_3 {
    top: calc(50% - 254px);
    left: calc(50% - -93px);
  }
  .back_wheel .bulbs_4 {
    top: calc(50% - 200px);
    left: calc(50% - -175px);
  }
  .back_wheel .bulbs_5 {
    top: calc(50% - 109px);
    left: calc(50% - -237px);
  }
  .back_wheel .bulbs_6 {
    top: calc(50% - 5px);
    left: calc(50% - -257px);
  }
  .back_wheel .bulbs_7 {
    top: calc(50% - -94px);
    left: calc(50% - -237px);
  }
  .back_wheel .bulbs_8 {
    top: calc(50% - -175px);
    left: calc(50% - -183px);
  }
  .back_wheel .bulbs_9 {
    top: calc(50% - -236px);
    left: calc(50% - -95px);
  }
  .back_wheel .bulbs_10 {
    top: calc(50% - -258px);
    left: calc(50% - 11px);
  }
  .back_wheel .bulbs_11 {
    top: calc(50% - -237px);
    left: calc(50% - 109px);
  }
  .back_wheel .bulbs_12 {
    top: calc(50% - -179px);
    left: calc(50% - 196px);
  }
  .back_wheel .bulbs_13 {
    top: calc(50% - -95px);
    left: calc(50% - 253px);
  }
  .back_wheel .bulbs_14 {
    left: calc(50% - 273px);
    top: calc(50% - 14px);
  }
  .back_wheel .bulbs_15 {
    top: calc(50% - 110px);
    left: calc(50% - 253px);
  }
  .back_wheel .bulbs_16 {
    top: calc(50% - 197px);
    left: calc(50% - 194px);
  }


  .qrcode {
    bottom: 36px;
    right: 82px;
  }
}

.qrcode img {
  height: 99px;
}

.qrcode {
  bottom: 27px;
  right: 34px;
}
