.logo {
  display: flex;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo img {
  width: fit-content;
  height: 55px;
}
.logo p{
  left: 0px;
  font-size: 18px;
}


.container {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media screen and (max-width: 694px){
.qrcode{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}
.qrcode p{
  font-size: 1.3rem;
}
}
@media screen and (min-width: 593px){
  .container{
    width:550px;
    height:550px;
  }
}
@media screen and (min-width: 460px) and (max-width: 569px){
  .container{
    width:400px;
    height:400px;
  }
}

@media screen and (min-width: 570px) {
  .container{
    width:450px;
    height:450px;
  }

}

.container .wheel .jobName span {
  font-size: 0.9em;
  font-weight: 600;
}
.container .spinBtn {
  width: 30px;
  height: 30px;
}

.container .spinBtn::before {
  top: -18px;
  width: 12px;
  height: 19px;
}

.container .spinBtn img {
  height: 20px;
}

.container .wheel .num4 {
  word-spacing: -2.4px;
}

.container .wheel .jobName img {
  width: 44px;
}


.container .wheel .num1 + img {
  top: 68px;
  left: 116px;
  rotate: 49deg;
}
.container .wheel .num2 + img {
  top: 68px;
  left: 116px;
  rotate: 49deg;
}
.container .wheel .num3 + img {
  top: 59px;
  left: 97px;
}
.container .wheel .num4 + img {
  top: 61px;
  left: 102px;
}
.container .wheel .num5 + img {
  top: 61px;
  left: 102px;
}
.container .wheel .num6 + img {
  top: 106px;
  left: 50px;
  rotate: 28deg;
}
.container .wheel .num7 + img {
  top: 98px;
  left: 48px;
  rotate: 52deg;
}
.container .wheel .num8 + img {
  top: 53px;
  left: 99px;
  rotate: 46deg;
}
.container .wheel .num6 {
  top: 5%;
  left: 5%;
}

@media screen and (max-width: 459px){
  .logo p{
    font-size: 17px;
  }

  .container .wheel .num1 + img {
    top: 42px;
    left: 78px;
    rotate: 49deg;
  }
  .container .wheel .num2 + img {
    top: 35px;
    left: 77px;
    rotate: 49deg;
  }
  .container .wheel .num3 + img {
    top: 34px;
    left: 72px;
  }
  .container .wheel .num4 + img {
    top: 33px;
    left: 70px;
  }
  .container .wheel .num5 + img {
    top: 28px;
    left: 67px;
  }
  .container .wheel .num6 + img {
    top: 74px;
    left: 33px;
    rotate: 28deg;
  }
  .container .wheel .num7 + img {
    top: 77px;
    left: 36px;
    rotate: 54deg;
  }
  .container .wheel .num8 + img {
    top: 38px;
    left: 73px;
    rotate: 46deg;
  }
  .container .wheel .jobName img {
    width: 38px;
  }
}

@media screen and (min-width: 460px) and (max-width: 569px){
  .logo p {
    font-size: 17px;
  }
  .container .wheel .num1 + img {
    top: 46px;
    left: 91px;
    rotate: 44deg
  }
  .container .wheel .num2 + img {
    top: 46px;
    left: 91px;
    rotate: 48deg;
  }
  .container .wheel .num3 + img {
    top: 46px;
    left: 85px;
    rotate: 62deg;
  }
  .container .wheel .num4 + img {
    top: 48px;
    left: 86px;
    rotate: 53deg;
  }
  .container .wheel .num5 + img {
    top: 50px;
    left: 89px;
  }
  .container .wheel .num6 + img {
    top: 94px;
    left: 44px;
  }
  .container .wheel .num7 + img {
    top: 91px;
    left: 44px;
  }

  .container .wheel .num8 + img {
    top: 44px;
    left: 88px;
    rotate: 48deg;
  }
  .container .wheel .num5  {
    top: 12%;
    left: 12%;
  }
}

.fullWindow {
  display: none;
}

.popup {
  width: 85%;
}

.popup .icon {
  width: 48px;
  height: 48px;
}

.popup .title {
  font-size: 16px;
}

@media (min-width: 695px){
  .container{
    width: 550px;
    height: 550px;
  }
  .container .wheel .jobName span {
    font-size: 1.6em;
    font-weight: 600;
  }
}

@media (min-width: 695px) {
  .container .wheel .jobName img {
    width: 55px;
  }
  .container .wheel .num3 {
    word-spacing: -5px;
  }
  .qrcode img {
    height: 84px;
  }

  .container .wheel .num6{
    top: 5%;
    left: 5%;
  }

  .container .wheel .jobName img{
    width: 78px;
  }
  .container .wheel .num1 + img {
    top: 59px;
    left: 121px;
    rotate: 47deg;
  }
  .container .wheel .num2 + img {
    top: 34px;
    left: 110px;
    rotate: 51deg;
  }
  .container .wheel .num3 + img {
    top: 43px;
    left: 111px;
  }
  .container .wheel .num4 + img {
    top: 35px;
    left: 101px;
  }
  .container .wheel .num5 + img {
    top: 43px;
    left: 107px;
    rotate: 59deg;
  }
  .container .wheel .num6 + img {
    top: 114px;
    left: 40px;
    rotate: 23deg;
  }
  .container .wheel .num7 + img {
    top: 123px;
    left: 56px;
    rotate: -316deg;
  }
  .container .wheel .num8 + img {
    top: 50px;
    left: 112px;
    rotate: -311deg;
  }

  .qrcode {
    bottom: 36px;
    right: 82px;
  }
}

.qrcode img {
  height: 99px;
}

.qrcode {
  bottom: 27px;
  right: 34px;
}
