.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .logo img {
    height: 56px;
  }
  .container {
    width: 700px;
    height: 700px;
  }
  .container .wheel .jobName span {
    font-size: 1.5em;
  }

  .container .wheel .num1 + img {
    top: 42px;
    left: 116px;
    rotate: -55deg;
  }
  .container .wheel .num3 + img {
    top: 71px;
    left: 154px;
    rotate: 8deg;
  }
  .container .wheel .num5 + img {
    top: 143px;
    left: 52px;
  }
  .container .wheel .jobName img {
    width: 111px;
  }
  .container .wheel .num6 + img {
    top: 151px;
    left: 44px;
    rotate: 24deg;
  }
  .container .wheel .num8 + img {
    top: 63px;
    left: 129px;
    rotate: -194deg;
  }
  
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .logo img {
    height: 70px;
  }
  .container {
    width: 650px;
    height: 650px;
  }
  .container .wheel .jobName span {
    font-size: 1.5em;
  }
  .container .wheel .jobName img {
    width: 111px;
  }
  .container .wheel .num1 + img {
    top: 166px;
    left: 48px;
  }
  .container .wheel .num5 + img {
    top: 161px;
    left: 32px;
  }
  .container .wheel .num2 + img {
    top: 143px;
    left: 45px;
  }
  .container .wheel .num3 + img {
    top: 67px;
    left: 164px;
  }
  .container .wheel .num4 + img {
    top: 60px;
    left: 166px;
  }
}

@media screen and (min-height: 1000px) {
  .container {
    width: 950px;
    height: 950px;
  }
}

@media screen and (min-width: 1600px) {
  .container .wheel .num5 + img {
    top: 196px;
    left: 37px;
  }
  .container .wheel .num1 + img {
    top: 228px;
  }
  .container .wheel .num2 + img {
    top: 172px;
    left: 60px;
  }

  .container .wheel .jobName img {
    width: 138px;
  }
  .container .wheel .num4 + img {
    top: 66px;
    left: 206px;
  }
}

