.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}




@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .logo img {
    height: 56px;
  }
  
  .logo p{
    left: -26px;
  }
  .container {
    width: 700px;
    height: 700px;
  }

  .container .wheel .jobName span {
    font-size: 1.5em;
  }

  .container .wheel .num1 + img {
    top: 59px;
    left: 142px;
    rotate: 48deg;
  }
  .container .wheel .num2 + img {
    top: 51px;
    left: 138px;
    rotate: 55deg;
  }
  .container .wheel .num3 + img {
    top: 70px;
    left: 146px;
    rotate: 62deg;
  }
  .container .wheel .num4 + img {
    top: 70px;
    left: 141px;
    rotate: 66de
  }
  .container .wheel .num5 + img {
    top: 79px;
    left: 150px;
    rotate: 58deg;
  }
  .container .wheel .num6 + img {
    top: 140px;
    left: 44px;
    rotate: 24deg;
  }
  .container .wheel .num7 + img {
    top: 137px;
    left: 62px;
    rotate: 61deg;
  }
  .container .wheel .num8 + img {
    top: 52px;
    left: 137px;
    rotate: -313deg;
  }
  .container .wheel .jobName img {
    width: 99px;
  }
  .back_wheel .bulbs_1 {
    top: calc(50% - 322px);
    left: calc(50% - 138px);
  }
  .back_wheel .bulbs_2 {
    top: calc(50% - 347px);
    left: calc(50% - 17px);
  }
  .back_wheel .bulbs_3 {
    top: calc(50% - 321px);
    left: calc(50% - -120px);
  }
  .back_wheel .bulbs_4 {
    top: calc(50% - 261px);
    left: calc(50% - -214px);
  }
  .back_wheel .bulbs_5 {
    top: calc(50% - 140px);
    left: calc(50% - -301px);
  }
  .back_wheel .bulbs_6 {
    top: calc(50% - 8px);
    left: calc(50% - -327px);
  }
  .back_wheel .bulbs_7 {
    top: calc(50% - -120px);
    left: calc(50% - -300px);
  }
  .back_wheel .bulbs_8 {
    top: calc(50% - -230px);
    left: calc(50% - -225px);
  }
  .back_wheel .bulbs_9 {
    top: calc(50% - -302px);
    left: calc(50% - -118px);
  }
  .back_wheel .bulbs_10 {
    top: calc(50% - -327px);
    left: calc(50% - 12px);
  }
  .back_wheel .bulbs_11 {
    top: calc(50% - -301px);
    left: calc(50% - 140px);
  }
  .back_wheel .bulbs_12 {
    top: calc(50% - -223px);
    left: calc(50% - 253px);
  }
  .back_wheel .bulbs_13 {
    top: calc(50% - -121px);
    left: calc(50% - 321px);
  }
  .back_wheel .bulbs_14 {
    left: calc(50% - 347px);
    top: calc(50% - 13px);
  }
  .back_wheel .bulbs_15 {
    top: calc(50% - 139px);
    left: calc(50% - 322px);
  }
  .back_wheel .bulbs_16 {
    top: calc(50% - 247px);
    left: calc(50% - 250px);
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .logo img {
    height: 70px;
  }
  .container {
    width: 650px;
    height: 650px;
  }
  .container .wheel .jobName span {
    font-size: 1.5em;
  }
  .container .wheel .jobName img {
    width: 111px;
  }
  .container .wheel .num1 + img {
    top: 166px;
    left: 48px;
  }
  .container .wheel .num5 + img {
    top: 161px;
    left: 32px;
  }
  .container .wheel .num2 + img {
    top: 143px;
    left: 45px;
  }
  .container .wheel .num3 + img {
    top: 67px;
    left: 164px;
  }
  .container .wheel .num4 + img {
    top: 60px;
    left: 166px;
  }
}

@media screen and (min-height: 1000px) {
  .container {
    width: 950px;
    height: 950px;
  }
}

@media screen and (min-width: 1600px) {
  .container .wheel .num5 + img {
    top: 196px;
    left: 37px;
  }
  .container .wheel .num1 + img {
    top: 228px;
  }
  .container .wheel .num2 + img {
    top: 172px;
    left: 60px;
  }

  .container .wheel .jobName img {
    width: 138px;
  }
  .container .wheel .num4 + img {
    top: 66px;
    left: 206px;
  }
}

