.logo {
  display: flex;
  position: absolute;
  top: 40px;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  flex-direction: column;
}
.logo img {
  width: fit-content;
  height: 44px;
}
.logo p {
  font-size: 14px;
  left: 1px;
  top: 7px;
}

.container {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.ground img {
  width: 382%;
}

.stand img {
  top: 614px;
  left: 46%;
  height: 60%;
}



.upper_stand {
  width: 301px;
  height: 684px;
}

.upper_stand img {
  top: 236px;
  left: 51%;
}
.upper_stand h1 {
  font-size: 1.3em;
  top: 74%;
  left: 36%;
}


.down_stand {
  width: 375px;
  height: 650px;
}

.down_stand img {
  top: 42%;
  left: 60%;
}


.container .wheel .jobName span {
  font-size: 0.9em;
  font-weight: 600;
}
.container .spinBtn {
  width: 30px;
  height: 30px;
}

.container .spinBtn::before {
  top: -18px;
  width: 12px;
  height: 19px;
}

.container .spinBtn img {
  height: 20px;
}

.container .wheel .num4 {
  word-spacing: -2.4px;
}

.container .wheel .jobName img {
  width: 28px;
}

.container .wheel .num1 + img {
  top: 54px;
  left: 24px;
  rotate: 27deg;
}
.container .wheel .num2 + img {
  top: 49px;
  left: 26px;
  rotate: 33deg;
}
.container .wheel .num3 + img {
  top: 45px;
  left: 22px;
}
.container .wheel .num4 + img {
  top: 47px;
  left: 21px;
}
.container .wheel .num5 + img {
  top: 54px;
  left: 23px;
  rotate: 47deg;
}
.container .wheel .num6 + img {
  top: 50px;
  left: 18px;
  rotate: 26deg;
}
.container .wheel .num7 + img {
  top: 53px;
  left: 23px;
  rotate: 50deg;
}
.container .wheel .num8 + img {
  top: 53px;
  left: 19px;
  rotate: 27deg;
}
.container .wheel .num5{
  top: 10%;
  left: 11%;
}
.container .wheel .num6{
  top: 5%;
  left: 5%;
}


.back_wheel .bulb{
  width: 5px;
  height: 5px;
  inset 0 0 4px #fff,      /* Inner white highlight */
  inset 4px 0 16px #ff8c00, /* Dark Orange inset */
  inset -4px 0 16px #ffd700, /* Gold/Yellow inset */
  inset 4px 0 60px #ff8c00,  /* Wider Dark Orange inset */
  inset -4px 0 60px #ffd700, /* Wider Gold/Yellow inset */
  0 0 8px #fff,       /* Outer white glow */
  -2px 0 16px #ff8c00, /* Outer Dark Orange glow */
  2px 0 16px #ffd700;
}

.back_wheel .bulbs_1 {
  top: calc(50% - 114px);
  left: calc(50% - 49px);
}
.back_wheel .bulbs_2 {
  top: calc(50% - 123px);
  left: calc(50% - 3px);
}
.back_wheel .bulbs_3 {
  top: calc(50% - 114px);
  left: calc(50% - -44px);
}
.back_wheel .bulbs_4 {
  top: calc(50% - 89px);
  left: calc(50% - -82px);
}
.back_wheel .bulbs_5 {
  top: calc(50% - 50px);
  left: calc(50% - -109px);
}
.back_wheel .bulbs_6 {
  top: calc(50% - 3px);
  left: calc(50% - -118px);
}
.back_wheel .bulbs_7 {
  top: calc(50% - -44px);
  left: calc(50% - -109px);
}
.back_wheel .bulbs_8 {
  top: calc(50% - -82px);
  left: calc(50% - -83px);
}
.back_wheel .bulbs_9 {
  top: calc(50% - -109px);
  left: calc(50% - -44px);
}
.back_wheel .bulbs_10 {
  top: calc(50% - -118px);
  left: calc(50% - 5px);
}
.back_wheel .bulbs_11 {
  top: calc(50% - -109px);
  left: calc(50% - 50px);
}
.back_wheel .bulbs_12 {
  top: calc(50% - -83px);
  left: calc(50% - 88px);
}
.back_wheel .bulbs_13 {
  top: calc(50% - -43px);
  left: calc(50% - 114px);
}
.back_wheel .bulbs_14 {
  left: calc(50% - 123px);
  top: calc(50% - 4px);
}
.back_wheel .bulbs_15 {
  top: calc(50% - 50px);
  left: calc(50% - 114px);
}
.back_wheel .bulbs_16 {
  top: calc(50% - 87px);
  left: calc(50% - 89px);
}


.fullWindow {
  display: none;
}

.popup {
  width: 85%;
}

.popup .icon {
  width: 48px;
  height: 48px;
}

.popup .title {
  font-size: 16px;
}

.qrcode img {
  height: 82px;
}

.qrcode{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}

.qrcode p{
  font-size: 1.2rem;
}