.container {
  position: absolute;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 53%;
  left: 51%;
  transform: translate(-50%, -50%);
}

/* .upper_stand img {
  top: 94px;
  left: 51%;
}

.upper_stand h1{
  top: 53%;
  left: 36%;
}

.down_stand img{
  left: 60%;
} */

.ground img {
  width: 479%;
}

.stand img {
  top: 575px;
  left: 49%;
  height: 83%;

}

.container .wheel .jobName span {
  font-size: 2em;
}
.fullWindow {
  display: none;
}

.logo {
  position: absolute;
  top: 92px;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
}

.container .wheel .jobName img {
  width: 80px;
}


.container .wheel .num1 + img {
  top: 114px;
  left: 42px;
  rotate: 26deg;
}
.container .wheel .num2 + img {
  top: 108px;
  left: 54px;
  rotate: 28deg;
}
.container .wheel .num3 + img {
  top: 102px;
  left: 50px;
  rotate: 44deg;
}
.container .wheel .num4 + img {
  top: 103px;
  left: 42px;
  rotate: 49deg;
}

.container .wheel .num5 + img {
  top: 119px;
  left: 49px;
  rotate: 38deg;
}
.container .wheel .num6 + img {
  top: 116px;
  left: 36px;
}
.container .wheel .num7 + img {
  rotate: 54deg;
  top: 126px;
}
.container .wheel .num8 + img {
  rotate: 26deg;
  top: 116px;
  left: 42px;
}

.container .wheel .num6 {
  top: 5%;
  left: 5%;
}
.container .wheel .num5 {
  top: 10%;
  left: 12%;
}

.back_wheel .bulb{
  width:15px;
  height: 15px;
}

.back_wheel .bulbs_1 {
  top: calc(50% - 275px);
  left: calc(50% - 119px);
}
.back_wheel .bulbs_2 {
  top: calc(50% - 296px);
  left: calc(50% - 4px);
}
.back_wheel .bulbs_3 {
  top: calc(50% - 274px);
  left: calc(50% - -104px);
}
.back_wheel .bulbs_4 {
  top: calc(50% - 218px);
  left: calc(50% - -190px);
}
.back_wheel .bulbs_5 {
  top: calc(50% - 118px);
  left: calc(50% - -260px);
}
.back_wheel .bulbs_6 {
  top: calc(50% - 5px);
  left: calc(50% - -281px);
}
.back_wheel .bulbs_7 {
  top: calc(50% - -102px);
  left: calc(50% - -260px);
}
.back_wheel .bulbs_8 {
  top: calc(50% - -195px);
  left: calc(50% - -197px);
}
.back_wheel .bulbs_9 {
  top: calc(50% - -259px);
  left: calc(50% - -104px);
}
.back_wheel .bulbs_10 {
  top: calc(50% - -281px);
  left: calc(50% - 12px);
}
.back_wheel .bulbs_11 {
  top: calc(50% - -260px);
  left: calc(50% - 118px);
}
.back_wheel .bulbs_12 {
  top: calc(50% - -199px);
  left: calc(50% - 210px);
}
.back_wheel .bulbs_13 {
  top: calc(50% - -103px);
  left: calc(50% - 275px);
}
.back_wheel .bulbs_14 {
  left: calc(50% - 297px);
  top: calc(50% - 14px);
}
.back_wheel .bulbs_15 {
  top: calc(50% - 121px);
  left: calc(50% - 274px);
}
.back_wheel .bulbs_16 {
  top: calc(50% - 210px);
  left: calc(50% - 214px);
}

.qrcode img{
  height: 92px;
}
.qrcode p{
  font-size: larger;
}

@media screen and (min-width: 768px) and (max-width: 840px){
  .qrcode img{
    height: 68px;
  }
}