.container {
  position: absolute;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container .wheel .jobName span {
  font-size: 1.6em;
}
.fullWindow {
  display: none;
}

.logo {
  position: absolute;
  top: 92px;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
}

.container .wheel .jobName img {
  width: 88px;
}


.container .wheel .num1 + img {
  top: 68px;
  left: 134px;
  rotate: 47deg;
}
.container .wheel .num2 + img {
  top: 39px;
  left: 122px;
  rotate: 52deg;
}
.container .wheel .num3 + img {
  top: 53px;
  left: 120px;
  rotate: 60deg;
}
.container .wheel .num4 + img {
  top: 49px;
  left: 121px;
  rotate: 64deg;
}

.container .wheel .num5 + img {
  top: 49px;
  left: 121px;
  rotate: 61deg;
}
.container .wheel .num6 + img {
  top: 119px;
  left: 36px;
}
.container .wheel .num7 + img {
  rotate: 54deg;
  top: 132px;
}
.container .wheel .num8 + img {
  rotate: 44deg;
  top: 46px;
  left: 119px;
}

.container .wheel .num6 {
  top: 5%;
  left: 5%;
}
.container .wheel .num5 {
  top: 10%;
  left: 12%;
}

.back_wheel .bulb{
  width:15px;
  height: 15px;
}

.back_wheel .bulbs_1 {
  top: calc(50% - 275px);
  left: calc(50% - 119px);
}
.back_wheel .bulbs_2 {
  top: calc(50% - 296px);
  left: calc(50% - 14px);
}
.back_wheel .bulbs_3 {
  top: calc(50% - 274px);
  left: calc(50% - -104px);
}
.back_wheel .bulbs_4 {
  top: calc(50% - 218px);
  left: calc(50% - -190px);
}
.back_wheel .bulbs_5 {
  top: calc(50% - 118px);
  left: calc(50% - -260px);
}
.back_wheel .bulbs_6 {
  top: calc(50% - 5px);
  left: calc(50% - -281px);
}
.back_wheel .bulbs_7 {
  top: calc(50% - -102px);
  left: calc(50% - -260px);
}
.back_wheel .bulbs_8 {
  top: calc(50% - -195px);
  left: calc(50% - -197px);
}
.back_wheel .bulbs_9 {
  top: calc(50% - -259px);
  left: calc(50% - -104px);
}
.back_wheel .bulbs_10 {
  top: calc(50% - -281px);
  left: calc(50% - 12px);
}
.back_wheel .bulbs_11 {
  top: calc(50% - -260px);
  left: calc(50% - 118px);
}
.back_wheel .bulbs_12 {
  top: calc(50% - -199px);
  left: calc(50% - 210px);
}
.back_wheel .bulbs_13 {
  top: calc(50% - -103px);
  left: calc(50% - 275px);
}
.back_wheel .bulbs_14 {
  left: calc(50% - 297px);
  top: calc(50% - 14px);
}
.back_wheel .bulbs_15 {
  top: calc(50% - 121px);
  left: calc(50% - 274px);
}
.back_wheel .bulbs_16 {
  top: calc(50% - 210px);
  left: calc(50% - 214px);
}

.qrcode img{
  height: 92px;
}
.qrcode p{
  font-size: larger;
}

@media screen and (min-width: 768px) and (max-width: 840px){
  .qrcode img{
    height: 68px;
  }
}